body {
    margin: 1%;
}
#docImage{
    width: 40%;
    margin-top: 10%;
    margin-left: 10%;
}
.btn{
    /* border-radius: 0%; */
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 6%;
}
.tabs{
    margin-bottom: 3%;
    width: 75%;
}
#tabAction{
    margin-left: 63.5%;
    margin-top: 7.5%;
}
a{
    text-decoration: none;
    color: rgb(53, 53, 53);
}
a:hover{
    text-decoration: none;
    color: rgb(153, 153, 153);
}
#clientImg{
    border-radius: 100%;
    width: 7%;
}
#docChat{
    resize: none;
    width: 95%;
}
.scroll {
    max-height: 4in;
    overflow-y: auto;
}
.footer {
    background-color: rgb(255, 255, 255);
}
.btn-link:hover{
    text-decoration: none;
    color: rgb(180, 180, 180);
}
.btn-link{
    color: rgb(88, 88, 88);
    text-decoration: none;
}
.btn-link:visited{
    text-decoration: none;
}
.card-deck > div{
    min-width: 8rem;
    max-height: 6rem;
}
@media (max-width: 531px) { 
    .card-deck > div{
        width: 2rem;
        height: 5rem;
    } 
#ad{
    margin-bottom: 20px;

}